<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ChatsAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>新建聊天</string>
			<key>UIApplicationShortcutItemType</key>
			<string>new_chat</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>SightAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>录制小视频</string>
			<key>UIApplicationShortcutItemType</key>
			<string>sight</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>MyQRCodeAction</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>我的二维码</string>
			<key>UIApplicationShortcutItemType</key>
			<string>myqrcode</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
